body{
    background-color: khaki;
}
ul#menu li {
    display: inline;
    
}
ul#menu {
    list-style-type: none;
    position: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    background-color: #3a3939;
    font-size: 30px;
}
ul#menu li a:hover {
    color: #33cc33;
}
ul#menu li a {
    color: #009900;
}  
.center {
    display: block;
    margin:auto
}
.flex-container {
    display: flex;
}